@charset "utf-8";
@import "_var", "_mixin", "_function";
#workContentArea{
 
  h3{
    writing-mode: vertical-rl;
    font-size:  vw-calc1920(60);letter-spacing:  vw-calc1920(10);margin:vw-calc1920(30)  vw-calc1920(10);
  }
  #bigPic {
    border: 1px solid #000;position: absolute;top: 0;width:  100%;height:  100%;
  }
  #navPic{    
    width: vw-calc1920(280);border: 1px solid #000;position: absolute;top: 0;right: vw-calc1920(0);height: 100%;margin: auto;
    .nav{
      height:  vw-calc1920(165);margin: vw-calc1920(6.8) 0;  margin-right: vw-calc1920(13.6);
    } 
  }
  #tab1, #nav1{
    background: rgb(255, 159, 159);
  }
  #tab2, #nav2{
    background: rgb(159, 255, 167);
  }
  #tab3, #nav3{
    background: rgb(159, 255, 255);
  }
  #tab4, #nav4{
    background: rgb(166, 159, 255);
  }
  #tab5, #nav5{
    background: rgb(255, 159, 159);
  }


}

